In [7]:
n,m,k = map(int,input().split())

data = list(map(int,input().split()))

5 8 3
2 4 5 4 6

In [8]:
data.sort()

first = data[-1] # 가장 큰 수
second = data[-2] # 두 번째로 큰 수

result = 0

In [9]:
while True:
  for i in range(k):
    if m == 0:
      break
    result += first
    m -= 1 # 더 할때마다 m에서 1씩 빼기
  if m == 0:
    break
  result += second
  m -= 1

In [10]:
print(result)

46